<div class="background" style="width:100%;background-repeat: no-repeat;background-size: cover;background-image:url(assets/image/img.png);background-size: cover;">

<h2>Applications to Review</h2>
<ul class="apps">
  <li *ngFor="let app of apps" (click)="onSelect(app)" [class.selected]="app === selectedApp">
    <span class="badge">{{app.id}}</span>
    <span>{{app.status}}</span>
    <span>{{app.statusUpdateTime}}</span>
    <button class="delete" (click)="deleteApp(app); $event.stopPropagation()">Delete</button>
  </li>
</ul>
</div>