<div class="background" style="width:100%;background-repeat: no-repeat;background-size: cover;background-image:url(assets/image/img.png);background-size: cover;">
  <div *ngIf="app">
    <h2>Application Form Detail</h2>
    <div class="items">
      <label class='txt'>Update Time: </label>
      <label class='info'>{{ app.statusUpdateTime }}</label>
    </div>
    <div class="items">
      <label class='txt'>From: </label>
      <label class='info'>{{ app.fromId }} </label>
    </div>
    <div class="items">
      <label class='txt'>Type: </label>
      <label class='info'>{{ app.type }}</label>
    </div>
    <div class="items">
      <label class='txt'>Amount: </label>
      <label class='info'>{{ app.amount }}</label>
    </div>
    <div class="items">
      <label class='txt'>Reason: </label>
      <label class='info'>{{ app.reason }}</label>
    </div>
    <div class="items">
      <label class='txt'>Status:</label>
      <label class='info'>
        <select *ngIf="appStatus" [(ngModel)]="app.status" name="status" placeholder="status">
          <option *ngFor="let appStatu of appStatus ">{{appStatu}}</option>
        </select>
      </label>
    </div>
    <div class="items">
      <label class='txt'>Comment:</label>
      <label class='info'>{{ app.comment }}</label>
      <input [(ngModel)]="app.comment" placeholder="Comment" />
    </div>
    <button class='back' (click)="goBack()">Back</button>
    <button class='save' (click)="save()">Save</button>
  </div>
  <div class="items">
  </div>