label {
    display: inline-block;
    width: 6em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
  }
  h2{
    /* 设置边框 */
    border: 3px solid white;
    /* 文本居中  */
    text-align: center;
    /* 设置字体属性 */
    font-family: Arial;
    font-weight: bold;
    font-size:60px;
    color: #369;
  }

  .background{
  width: 100%;
  height: 550px;
  }
  .mark{
    display: inline-block;
    width: 6em;
    margin: .5em 0;
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-weight: bold;
  }
  .user_name{
    text-align: center;
  }
  .user_password{
    text-align: center;
  }
  .user_position{
    text-align: center;
  }
  .user_department{
    text-align: center;
  }
  .register{
    text-align: center;
  }
  
  input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }
  
  button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }
  
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
