h3{
  font-family: Arial;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #369;
}
label {
  display: inline-block;
  width: 8em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
.items{
  text-align: left;
  position: relative;
  left: 500px;
}
.background{
  height: 550px;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
  position: relative;
  left: 600px;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

