<div class = "background" style = "width:100%;background-repeat: no-repeat;background-size: cover;background-image:url(assets/image/img.png);background-size: cover;">
<div *ngIf="app">
  <h3>{{ app.statusUpdateTime }}</h3>
  <div class="items">
    <label>From: </label>{{ app.fromId }}
  </div>
  <div class="items">
    <label>To: </label>{{ app.toId }}
  </div>
  <div class="items">
    <label>Status: </label>{{ app.status }}
  </div>
  <div class="items">
    <label>Type: </label>{{ app.type }}
  </div>
  <div class="items">
    <label>Amount: </label>{{ app.amount }}
  </div>
  <div class="items">
    <label>Reason: </label>{{ app.reason }}
  </div>
  <div class="items" *ngIf="user">
    <label>Comment: </label>{{ app.comment }}
  </div>
</div>
<div>
  <button (click)="goBack()">Back</button>
</div>
</div>