<div class="background" style="width:100%;background-repeat: no-repeat;background-size: cover;background-image:url(assets/image/img.png);background-size: cover;">

<h2>New Application</h2>

<div class="items">
  <label id="txt">Type: </label><input #appType />
</div>
<div class="items">
  <label id="txt">Amount: </label><input #appAmount />
</div>
<div class="items">
  <label id="txt">Reason: </label><input #appReason />
</div>
<div class="items">
  <label id="txt">To:</label><input #appToName />
</div>
<button (click)="goBack()">Back</button>
<button (click)="addApp(appType.value, appAmount.value, appReason.value, appToName.value); appType.value=''">
  Commit
</button>
</div>