<div class = "background" style = "width:100%;background-repeat: no-repeat;background-size: cover;background-image:url(assets/image/img.png);background-size: cover;">
  <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
    <!-- <fieldset ngModelGroup="login"> -->
      <h2>Login</h2>
      <div class = "user_name">
        <label class ="mark">Username: </label>
        <input name="username" type="text" [(ngModel)]="username" #usernameRef="ngModel" required minlength="3" placeholder="User Name">
      </div>
      <div class = "prompt_message">
        <label *ngIf="usernameRef.errors?.required">this is required</label>
        <label *ngIf="usernameRef.errors?.minlength">should be at least 3 charactors</label>
        <label *ngIf="auth?.hasError">{{auth.errMsg}}</label>
      </div>
      <div class = "user_password">
        <label class ="mark">Password: </label>
        <input name="password" type="password" [(ngModel)]="password" #passwordRef="ngModel" required placeholder="Password">
      </div>
      <div class = "prompt_message">
        <label *ngIf="passwordRef.errors?.required">this is required</label>
      </div>
      <div class = "login">
        <button type="submit">Login</button>
      </div>
    <!-- </fieldset> -->
  </form>
</div>
