<h2>Applications to Review</h2>
<div>
  <!-- <label>Application ID:</label> <input #appName /> -->
  <!-- <button (click)="addApp(appName.value); appName.value=''">
    Add
  </button> -->
</div>
<ul class="apps">
  <li *ngFor="let app of apps" (click)="onSelect(app)" [class.selected]="app === selectedApp">
    <span class="badge">{{app.id}}</span>
    <span>{{app.status}}</span>
    <span>{{app.statusUpdateTime}}</span>
    <button class="delete" (click)="deleteApp(app); $event.stopPropagation()">Delete</button>
  </li>
</ul>
