<div class = "background" style = "width:100%;background-repeat: no-repeat;background-size: cover;background-image:url(assets/image/img.png);background-size: cover;">
  <h2>Register</h2>
  <div class = "user_name">
    <label class="mark">Username: </label>
    <input [(ngModel)]="user.username" placeholder="username" />
  </div>
  <div class = "user_password">
    <label class="mark">Password: </label>
    <input type="password" [(ngModel)]="user.password" placeholder="password" />
  </div>
  <div class = "login">
    <button (click)="onSubmit()">Submit</button>
  </div>
</div>
